@{
    ViewData["Title"] = "LDS Library";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My LDS Library</h1>
    <p>The largest LDS movie library in the world! You can add your favorite movies. Have fun!.</p>
    <p class="mt-5">LDS Movies<br><a asp-controller="Movies" asp-action="Index"><img src="/images/play-button.png" style="height:150px;"></a></p>
</div> 



<div class="display-change-color">
    <button type="button" class="btn btn-light" color="white"></button><br>
    <button type="button" class="btn btn-dark" color="black"></button>
</div>