@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - My Frist Razon Page</h1>
    <p>Author: Ramon Andrade - CIT 365</a>.</p>
</div>
